# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.game.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../:\game\.idea\.idea.game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
